// Principales 

$color-principal: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;

// Utilitaires 

$color-white: #ffffff;
$color-grey: #eaeaea;
$color-light-purple: #f5edff;
$color-icon: #7e7e7e;
$color-linear: linear-gradient(-10deg, #9356DC 15%, #FF79DA 100%);
$color-linear-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(-10deg, #9356DC 25%, #FF79DA 100%);

// Fonds 

$background-color: #f6f6f6;
$background-color-white: #ffffff;
$background-color-grey-light: #f7f7f7;
$background-color-grey: #353535;

// Textes 

$color-txt-base: #000000;
$color-txt-logo: #101010;
$color-txt-grey: #353535;
$color-txt-green: #008766;