.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $background-color-white;
    opacity: 0.9;
    z-index: 1000;
    @extend %flex-center;
    animation: disappear 1ms 3s forwards;
}

@keyframes disappear {
    to {
        transform: scale(0);
    }
}